.eslintrc.cjs
.prettierrc.cjs
unocss.config.js
vite.config.js
/node_modules/
/src/uni_modules/
/dist/
.vscode
/src/api/
/src/assets/
/src/components/
/src/directive/
/src/layout/
/src/plugins/
/src/router/
/src/store/
/src/utils/
/src/views/error/
/src/views/monitor/
/src/views/redirect/
/src/views/system/
/src/views/tool/
/src/views/index.vue
/src/views/login.vue
/src/views/register.vue
/src/App.vue
/src/main.js
/src/permission.js
/src/settings.js